.slick-slider {
    width: 100%;
    margin-bottom: var(--mb-3);
    .imageContainer {
        width: 90% !important;
        margin: 0 auto;
        border-radius: 30px !important;
        border: 1px solid var(--button-bg-color);
        img {
            width: 100%;
            border-top-right-radius: 30px !important;
            border-top-left-radius: 30px !important;
            margin-bottom: var(--mb-2);
        }
        .description {
            p {
                font-size: var(--h2-font-size);
                color: var(--button-bg-color);
                text-align: center;
                margin-bottom: var(--mb-2);
            }
        }
    }
    .slick-prev,
    .slick-next {
        &::before {
            visibility: hidden;
        }
    }
}
